<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleleapis.com/ css?famaly=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.gif" %>
			<% end %>
		</div>

    <div class="container">
      <div class="navbar-brand">

			<ul>
				<li class="category">Website</li>
				<li><%= link_to "Blog", root_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>

			</div>
		</div>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://www.facebook.com/mindaugas.bernotas.90">Facebook</a></li>
			<li><a href="https://plus.google.com/u/0/getstarted/getstarted?fww=1&continue=https://plus.google.com/u/0/me">Gmail</a></li>
			<li><a href="https://github.com/mindziukasss">Github</a></li>
			<li><a href="mailto:mindaugasbernotas2@gmail.com">Email</a></li>
		</ul>

		<% if !user_signed_in? %>
		<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path ) %>
			<p>All Posts</p>
		<% elsif current_page?(about_path) %>
			<p>About</p>
		<% else %>
			<%= link_to "Back to All Posts", root_path %>
		<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
					<p class="button"><%= link_to "New Post", new_post_path %></p>
					<p class="button"><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></p>
				</div>
			<% end %>	

		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<div id="post_content">

		<%= yield %>
		</div>
	</div>

</body>
</html>



